.secao__projetos {
    height: 100vh;
}

.secao__projetos .container {
    height: 100%;
}

.carousel-wrapper {
    width: calc(768px * 1.2);
    height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.carousel-container {
    width: 768px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.384);
    border: 5px solid var(--color-light4);    
}

.carousel {
    display: flex;
    width: calc(768px * 3);     
    animation: sliding 15s infinite;
    position: relative;
}

.background-text {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 15px;
    width: 100%;
    max-height: 55px;
    top: calc(50% - 25px);    
    background-color: var(--color-bg3);   
    box-sizing: border-box;      
}

.background-text h3 {
    font-size: 4rem;
    font-weight: 900;
    color: var(--color-light4);    
}

.background-text p {
    font-size: 1.8rem;
    color: var(--color-light4);
}

.carousel div {
    width: 768px;
    height: 400px;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;    
}

.carousel:hover {
    animation-play-state: paused;
}

.card-one {
    background-image: url("../../image/ecommerce.png");
  }
  .card-two {
    background-image: url("../../image/decodificador.png");
  }
  .card-three {
    background-image: url("../../image/organo.PNG");
  }

@keyframes sliding {
    30% {
        transform: translateX(0);
    }
    35% {
        transform: translateX(-768px);
    }
    65% {
        transform: translateX(-768px);
    }
    70% {
        transform: translateX(-1536px);        
    }
    98% {
        transform: translateX(-1536px);
    }
    100% {
        transform: translateX(0);
    }
}